<h1>Planning Poker</h1>
<h2>Room: <%= link_to @room.name, show_room_url %></h2>
<%= button_to "Leave room", leave_room_path, :method => :post %>
<hr/>
<%= render "user_name", object: @user %>
 <% if @room.estimating %>
    <h2>Estimating</h2>
<% else %>
    <h2>Results</h2>
<% end %>
<ol style="font-size:18px">
    <li><span><b>(You) <%= @user.name %></b>:&nbsp;<%= @user.estimate %></span></li>
    <% @room.users.each do |u| %>
        <% if u.id != @user.id %>
            <li>
                <span><%= u.name %>:&nbsp;</span>
                <% if @room.estimating %>
                    <% if u.estimate %>
                        <span>voted</span>
                    <% else %>
                        <span>....</span>
                    <% end %>
                <% elsif u.estimate %>
                    <%= u.estimate %>
                <% else %>
                    <span>didn't vote</span>
                <% end %>
            </li>
        <% end %>
    <% end %>
</ol>
<div>
    <% [1,2,3,5,8,13,21,40].each do |e| %>
        <%= button_to e, estimate_user_path(estimate: e), :method => :put %>
    <% end %>
</div>
<div>
    <%= button_to @room.estimating ? "Show cards" : "Hide cards", show_cards_path, :method => :put %>
</div>
<div>
    <%= button_to "Clear cards", reset_room_path, :method => :put %>
</div>